# Ignore configuration files that may contain sensitive information
sites/*/settings.php
sites/*/settings.local.php
sites/*/services.yml
sites/*/services.local.yml

# Ignore compiled directories
web/sites/*/files
web/sites/*/private
vendor/
web/themes/pal_cloth/node_modules
web/modules/contrib
core/

# Ignore temporary files and directories
*.log
*.tmp
*.swp
*.bak
.DS_Store
.idea/
.vscode/


# Ignore Database dir

